# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore large data files and outputs
#*.hdf5
*.h5
*.npz
*.npy
*.csv
*.fits
*.png

# Ignore test data
BCM/tests/Data/
/Pylians3
# Ignore local runtest file
bcm_runtest.py

# Ignore OS files
.DS_Store

# Ignore virtual environments
venv/
env/
.mypy_cache/